@import "tailwindcss";
@plugin "@tailwindcss/typography";

html {
    overflow-y: scroll;
    color-scheme: light;
}

html.dark {
    color-scheme: dark;
}

html,
body {
    @apply size-full;
}

body {
    @apply font-sans antialiased;
    @apply flex flex-col;
    @apply bg-gray-100 dark:bg-gray-950;
    @apply text-gray-900 dark:text-gray-100;
}

header {
    @apply fixed top-0 left-0 right-0 z-50 py-5;
    @apply bg-gray-100/75 dark:bg-gray-950/75;
    @apply backdrop-blur-sm;
}

main {
    @apply flex-1 py-32;
}

footer {
    @apply py-5 text-sm;
}

.animate {
    @apply opacity-0 translate-y-3;
    @apply transition-all duration-700 ease-out;
}

.animate.show {
    @apply opacity-100 translate-y-0;
}