---
import RootLayout from "@/layouts/RootLayout.astro";

import Container from "@components/Container.astro";
import InteractiveGrid from "@components/InteractiveGrid.astro";
---

<RootLayout>
  <Container>
    <h1 class="animate font-bold text-6xl text-black dark:text-white">
      Hi, I'm Daniel
    </h1>
    <p class="animate text-2xl pt-4 pl-1">
      I'm a software engineer, creative, and entrepreneur.
    </p>
    <InteractiveGrid />
  </Container>
</RootLayout>
