---
import Container from "@components/Container.astro";
---

<footer class="animate">
  <Container>
    <div class="flex justify-between items-center">
      <div>Made with ❤️ and ☕</div>
      <div class="text-sm text-gray-500">
        Based on <a
          href="https://github.com/markhorn-dev/astro-nano"
          class="underline underline-offset-2">astro-nano</a
        >
      </div>
    </div>
  </Container>
</footer>
