---
import Container from "@components/Container.astro";
---

<footer class="animate">
  <Container>
    <div class="flex justify-between items-center">
      <div>Made with ❤️ and ☕</div>
    </div>
  </Container>
</footer>
